<ion-header>
  <ion-navbar color="rd">
    <ion-title>Chasse aux Oeuvres</ion-title>
    
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h4 *ngIf="dataToShow && dataToShow.length > 1">Oeuvres trouvées:</h4>
  <h4 *ngIf="dataToShow && dataToShow.length == 1">Oeuvre trouvée:</h4>

  <ion-grid *ngIf="dataToShow && dataToShow.length; else noOeuvres">
    <ion-item *ngFor="let xyz of dataToShow" (click)="showProfile(xyz.code)">
      <img [src]="xyz.img" />
      <div>
      <ion-badge color="danger">{{xyz.code}}</ion-badge>
      <ion-icon name="checkmark-circle-outline"></ion-icon>
    </div>
    </ion-item>
    
  </ion-grid>


  <button ion-button color="danger" icon-start full (click)="rm()" *ngIf="dataToShow && dataToShow.length">
    <ion-icon name="trash"></ion-icon>Retour vers le passé !</button>

  <ng-template #noOeuvres>

    <div class="p_desole">

      <p>Oups ! Il faut chasser du QrCode !

        <ion-icon class="p_icon" name="flag" item-left></ion-icon>
      </p>
    </div>

  </ng-template>





</ion-content>