<ion-header data-ng-init="pushInit()">
  <ion-navbar>
    <ion-title>Accueil</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h2>Welcome to Ionic!</h2>
  <ion-list>
    <ion-item-sliding *ngFor="let x of oeuvres()">
      <ion-item>
        <ion-avatar item-start>

          <img src={{x.img}}>
        </ion-avatar>

        <!-- name in the array(oeuvres) -->

        {{x.name}}
      </ion-item>

      <!-- 'if' is a woman or 'if' is a man: then change color -->
      <ion-item-options side="left" *ngIf="!x.bachacha">
        <button ion-button color="secondary" (click)="showProfile(x.code)">
          <ion-icon name="person"></ion-icon>Profile</button>

      </ion-item-options>

      <ion-item-options side="left" *ngIf="x.bachacha">
        <button ion-button color="danger" (click)="showProfile(x.code)">
          <ion-icon name="person"></ion-icon>Profile</button>

      </ion-item-options>


    </ion-item-sliding>
  </ion-list>

  <div>

  </div>
</ion-content>